.container {
  position: relative;
  height: 292px;
  width: 100%;
  background-color: var(--second-bg-color);
  border-radius: 6px;

  .wrapper {
    display: flex;
    overflow-x: scroll;
    height: 100%;
    width: 100%;

    scroll-snap-type: x mandatory;
    position: inherit;
    
    img {
      scroll-snap-align: start;
      min-width: 100%;
      height: 100%;
      border-radius: 6px;

      object-fit: cover;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .pagination {
    width: 100%;
    position: absolute;
    bottom: 23px;

    display: flex;
    align-items: center;
    justify-content: center;

    .buttons {
      width: 50%;
      display: flex;
      gap: var(--gap);

      button {
        width: 100%;
        height: 3px;
        background-color: var(--bg-color);
      }

      .active {
        background-color: var(--main-color);
      }
    }
  }
}
