:root {
  --svg-color: #FFFFFF;

  --bg-color: #FFFFFF;
  --second-bg-color: #dbdbdb;
  --font-color: #000000;
  --second-font-color: #495B77;

  --main-color: #31B157;
  
  --dark-color: #282828;
  --footer-font-color: #ffffffb2;
  
  --h1-size: 26px;
  --h2-size: 16px;
  --font-size: 14px;
  --medium-font-size: 13px;
  --small-font-size: 12px;
  
  --font-weight: 500;
  --line-height: 14.4px;
  --gap: 8px;
  
  --page-padding-left: 15px;
  --page-padding-top: 19px;
  
  --footer-height: 70px;
  --svg-size: 24px;

  --transition: 0.5s;
}
